
<h2> </h2>
<ul class="experiences">
  <li *ngFor="let experience of experiences" (click)="onSelect(experience)" [class.selected]="experience === selectedExperience">
    <span class="badge">
      <em>{{experience.employer}}  - {{experience.positionTitle}}   </em>  -
      
    </span>
  </li>
</ul>

<div *ngIf="selectedExperience">

  <h2>
    <em>
      {{selectedExperience.employer}} - {{selectedExperience.positionTitle}}
    </em>
    {{selectedExperience.startDate | date: 'MMMM, yyyy'}} - {{selectedExperience.endDate | date: 'MMMM, yyyy'}}
  </h2>
  <div>
    <ul>
      <li *ngFor="let duty of selectedExperience.duties">
        <p>{{duty}}</p>
      </li>
    </ul>
  </div>











</div>
